.container {
    width: 100%;
    padding: 70px;

  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 22px;
    font-weight: bold;
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .verTodas {
    font-size: 14px;
    color:  #7d93f5;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .verTodas:hover {
    text-decoration: underline;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #7d93f5;
    transition: all 0.3s ease; 
    cursor: pointer;
    
  }
  
  .categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    background: #7d93f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #000000;
  }
  
  .categoria span {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .categoria:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  