.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(90deg, #2950a9, #7d93f5);
    border-top: 1px solid #ddd;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer div p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer div p:last-child {
    font-size: 1rem;
    color: #ffffff;
}

.footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer nav a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 1rem;
    display: block;
    text-align: left;
    width: 100%;
}

.footer nav a:hover {
    text-decoration: underline;
}

.h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.p {
    font-size: 1em;
    margin: 0.67em 0;
    color: #ffffff;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.navItem a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.navItem a:hover {
    color: #1e00ff;
}

.navSpacing {
    height: 10px;
    visibility: visible;
    opacity: 0;
}

.texto {
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}